<div>
  <div
    class="relative w-full bg-white border shadow-sm rounded-xl"
  >
    <div class="w-full h-[300px] rounded-lg overflow-hidden relative">
      <img
        class="object-cover w-full h-full"
        [src]="overlayImage"
        alt="Image Description"
        loading="lazy"
      />
      <div class="absolute inset-0 bg-black bg-opacity-50 blur"></div>
      <div class="absolute inset-0 bg-gradient-to-t from-black via-transparent to-transparent"></div>
    </div>
    <div class="absolute top-0 start-0 end-0 justify-start text-start p-[20px]">
      <ng-content></ng-content>
    </div>
  </div>
</div>
