<div class="flex flex-col w-full bg-white border border-t-4 shadow-sm border-t-elephant-900 rounded-xl">
  <div class="p-4 md:p-5">
    <h1 class="mb-4 text-2xl font-semibold text-elephant-950">Change Password</h1>
    <form [formGroup]="form">
      <div class="w-full space-y-3">
        <app-form-password-field [formGroup]="form" [label]="'Current Password'" fieldName="currentPassword" />
        <app-form-password-field [formGroup]="form" [label]="'New Password'" fieldName="newPassword" />
        <app-form-password-field [formGroup]="form" [label]="'Confirm Password'" fieldName="confirmPassword" />
      </div>
    </form>
  </div>
  <div class="flex p-4 space-x-2">
    <app-button
      [isLoading]="isLoading"
      (clicked)="onSave()"
      [label]="'Save'"
      [isCancel]="false"
      [isLarge]="false"
      [isDisabled]="form.invalid!"
      [type]="'save'" />
  </div>
</div>
