<div class="max-w-4xl mx-auto">
  <div class="flex items-center mb-4">
    <img src="https://via.placeholder.com/50" alt="PT Freeport Indonesia" class="w-12 h-12 rounded-full mr-4" />
    <div>
      <h1 class="text-2xl font-bold">PT Freeport Indonesia</h1>
    </div>
  </div>

  <ng-container>
    <div class="flex flex-row">
      <div class="basis-1/4">
        <p class="font-medium text-sm text-primary2">Website</p>
      </div>
      <div class="basis-1/4">
        <a href="javascript:void(0)" class="text-primary1 font-semibold text-sm">PT Freeport Indonesia</a>
      </div>
      <div class="basis-1/2"></div>
    </div>
    <div class="flex flex-row">
      <div class="basis-1/4">
        <p class="font-medium text-sm text-primary2">Industry</p>
      </div>
      <div class="basis-1/4">
        <a href="javascript:void(0)" class="text-primary1 font-semibold text-sm">Mining, Minerals & Metals</a>
      </div>
      <div class="basis-1/2"></div>
    </div>
    <div class="flex flex-row">
      <div class="basis-1/4">
        <p class="font-medium text-sm text-primary2">Company size</p>
      </div>
      <div class="basis-1/4">
        <a href="javascript:void(0)" class="text-primary1 font-semibold text-sm">More than 10,000 employees</a>
      </div>
      <div class="basis-1/2"></div>
    </div>
    <div class="flex flex-row">
      <div class="basis-1/4">
        <p class="font-medium text-sm text-primary2">Location</p>
      </div>
      <div class="basis-2/3">
        <a href="javascript:void(0)" class="text-primary1 font-semibold text-sm">PT. Freeport Indonesia, South Jakarta,
          Special Capital Region of
          Jakarta, Republic of Indonesia</a>
      </div>
    </div>
  </ng-container>
  <div class="flex flex-row mt-3">
    <p class="text-primary1 font-semibold text-sm">
      Merupakan perusahaan afiliasi dari Freeport-McMoRan. PTFI menambang, memproses dan melakukan eksplorasi terhadap bijih yang mengandung tembaga, emas dan perak. Beroperasi di daerah dataran tinggi di Kabupaten Mimika Provinsi Papua, Indonesia. Kami memasarkan konsentrat yang mengandung tembaga, emas dan perak ke seluruh penjuru dunia.
    </p>
  </div>
</div>
