@if (company) {
<div class="max-w-4xl mx-auto">
  <div class="flex items-center mb-4">
    <img [src]="company.logo" alt={{company.name}} loading="lazy" class="w-12 h-12 mr-4 rounded-full" />
    <div>
      <h1 class="text-2xl font-bold">{{ company.name }}</h1>
    </div>
  </div>

  <ng-container>
    <div class="flex flex-row">
      <div class="basis-1/4">
        <p class="text-sm font-medium text-bayoux-700">Website</p>
      </div>
      <div class="basis-1/4">
        <a href="javascript:void(0)" class="text-sm font-semibold text-elephant-950">{{ company.website }}</a>
      </div>
      <div class="basis-1/2"></div>
    </div>
    <div class="flex flex-row">
      <div class="basis-1/4">
        <p class="text-sm font-medium text-bayoux-700">Industry</p>
      </div>
      <div class="basis-1/4">
        <a href="javascript:void(0)" class="text-sm font-semibold text-elephant-950">{{ company.industry }}</a>
      </div>
      <div class="basis-1/2"></div>
    </div>
    <div class="flex flex-row">
      <div class="basis-1/4">
        <p class="text-sm font-medium text-bayoux-700">Company size</p>
      </div>
      <div class="basis-1/4">
        <a href="javascript:void(0)" class="text-sm font-semibold text-elephant-950">More than 10,000 employees</a>
      </div>
      <div class="basis-1/2"></div>
    </div>
    <div class="flex flex-row">
      <div class="basis-1/4">
        <p class="text-sm font-medium text-bayoux-700">Location</p>
      </div>
      <div class="basis-2/3">
        <a href="javascript:void(0)" class="text-sm font-semibold text-elephant-950">{{ company.location }}</a>
      </div>
    </div>
  </ng-container>
  <div class="flex flex-row mt-3">
    <p class="text-sm font-semibold text-elephant-950">
      {{ company.description }}
    </p>
  </div>
</div>

}
