<div
    class="flex flex-col w-full bg-white border border-t-4 shadow-sm border-t-elephant-900 rounded-xl">
    <div class="p-4 md:p-5">
        <h1 class="text-2xl font-semibold text-elephant-950">Summary</h1>
        <p class="mt-2 text-sm text-elephant-700">
            Highlight your unique experiences, ambitions and strengths.
        </p>
        <form [formGroup]="form">
            <app-editor [formGroup]="form" label="Summary" fieldName="summary" />
        </form>
    </div>
    <div class="flex p-4 space-x-2">
        <app-button
            [isLoading]="isLoading"
            (clicked)="onUpdate()"
            [label]="'Save'"
            [isCancel]="false"
            [isLarge]="false"
            [isDisabled]="form.invalid!"
            [type]="'save'" />
    </div>
</div>
