<div class="flex flex-col bg-white border shadow-sm cursor-pointer hover-animation rounded-xl">
  <div class="relative flex items-center gap-x-1">
    <div class="inline-block hs-tooltip">
      <button (click)="onMark()" type="button"
        class="absolute right-0 inline-flex items-center justify-center text-sm font-semibold text-gray-500 border border-transparent rounded-full hs-tooltip-toggle size-8 gap-x-2 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none">
        @if (!isBookmark) {
          <svg-icon src="../../../../../assets/icons/mark.svg" svgClass="flex-shrink-0 size-4" />
        } @else {
          <svg-icon src="../../../../../assets/icons/mark-color.svg" svgClass="flex-shrink-0 size-4" />
        }
        <span
          class="absolute z-10 invisible inline-block px-2 py-1 text-xs font-medium text-white transition-opacity bg-gray-900 rounded shadow-sm opacity-0 hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible"
          role="tooltip">
          Bookmark
        </span>
      </button>
    </div>
  </div>
  <div class="p-4 md:p-5" (click)="onDetails(job.id)">
    <div class="flex items-center">
      <img [src]="job.employer.company?.logo" alt="Company Logo" loading="lazy" class="w-12 h-12 mr-4 rounded-full" />
      <div>
        <h2 class="text-lg font-semibold text-bayoux-950">
          {{ job.title }}
        </h2>
        <h3 class="font-medium text-md text-bayoux-700">
          {{ job.employer.company!.name }}
        </h3>
      </div>
    </div>
    <div class="flex space-x-2">
      <svg-icon src="../../../../../assets/icons/map-pin-line.svg" svgClass="mt-3 icon-primary-2" />
      <p class="mt-2 text-bayoux-600">{{ job.employer.company!.location }} </p>
    </div>

    <div class="flex mt-2 space-x-2">
      <svg-icon src="../../../../../assets/icons/building-line.svg" svgClass="mt-3 icon-primary-2">
      </svg-icon>
      <p class="mt-2 text-sm text-bayoux-600">
        {{job.employer.company!.industry }}
      </p>
    </div>

    <div class="flex mt-2 space-x-2">
      <svg-icon src="../../../../../assets/icons/money.svg" svgClass="mt-2 icon-primary-2" />
      <p class="mt-2 text-sm text-bayoux-600">{{ job.salary | rupiah }}</p>
    </div>

    <span
      class="inline-flex items-center mt-3 text-xs font-light border border-transparent rounded-lg gap-x-1 text-stark-400">
      {{ job.createdAt | timeAgo }}
    </span>
  </div>
</div>
