<div class="hover-animation flex flex-col bg-white border shadow-sm rounded-xl">
  <div class="relative flex items-center gap-x-1">
    <div class="hs-tooltip inline-block">
      <button
        type="button"
        class="absolute right-0 hs-tooltip-toggle size-8 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-gray-500 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:hover:bg-neutral-700"
      >
        <svg-icon
          src="../../../../../assets/icons/mark.svg"
          svgClass="flex-shrink-0 size-4"
        >
        </svg-icon>
        <span
          class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded shadow-sm dark:bg-neutral-700"
          role="tooltip"
        >
          Close
        </span>
      </button>
    </div>
  </div>
  <div class="p-4 md:p-5">
    <div class="flex items-center">
      <img
        src="https://via.placeholder.com/50"
        alt="Company Logo"
        class="w-12 h-12 rounded-full mr-4"
      />
      <div>
        <h2 class="text-lg font-semibold text-primary1">Front End Developer</h2>
        <h3 class="text-md font-medium text-primary2">
          PT Buana Varia Komputama
        </h3>
      </div>
    </div>
    <div class="flex space-x-2">
      <svg-icon
        src="../../../../../assets/icons/map-pin-line.svg"
        svgClass="mt-3 icon-primary-4"
      >
      </svg-icon>
      <p class="mt-2 text-primary3">South Jakarta, Jakarta</p>
    </div>

    <div class="mt-2 flex space-x-2">
      <svg-icon
        src="../../../../../assets/icons/building-line.svg"
        svgClass="mt-3 icon-primary-4"
      >
      </svg-icon>
      <p class="mt-2 text-primary3 text-sm">
        Developers/Programmers (Information & Communication Technology)
      </p>
    </div>

        <div class="mt-2 flex space-x-2">
      <svg-icon
        src="../../../../../assets/icons/money.svg"
        svgClass="mt-2 icon-primary-4"
      >
      </svg-icon>
    <p class="mt-2 text-primary3 text-sm">Negotiable</p>
    </div>


    <a
      class="mt-3 inline-flex items-center gap-x-1 text-xs font-light rounded-lg border border-transparent text-primary4"
      href="#"
    >
      2 days ago
    </a>
  </div>
</div>
