<h1 class="text-4xl font-semibold text-primary1 dark:text-white">Activity</h1>
<div
  class="flex flex-col bg-white border rounded-xl dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70 mt-4">
  <div class="bg-gray-100 border-b rounded-t-xl pt-3 px-4 md:pt-4 md:px-5 dark:bg-neutral-800 dark:border-neutral-700">
    <nav class="flex space-x-2" aria-label="Tabs">
      <a routerLink="/activity/saved-jobs" routerLinkActive="active"
        class="-mb-px py-3 px-4 text-sm font-medium text-center text-primary2 border-b rounded-t-lg hover:text-gray-700 focus:z-10">
        <div class="flex space-x-1">
          <div>
            <svg-icon src="../../../../../assets/icons/bookmark.svg" svgClass="">
            </svg-icon>
          </div>
          <div>Saved Jobs</div>
        </div>

      </a>
      <a routerLink="/activity/applied-jobs" routerLinkActive="active"
        class="-mb-px py-3 px-4 text-sm font-medium text-center text-primary2 border-b rounded-t-lg hover:text-gray-700 focus:z-10">
                <div class="flex space-x-1">
          <div>
            <svg-icon src="../../../../../assets/icons/double-check.svg" svgClass="">
            </svg-icon>
          </div>
          <div>Applied Jobs</div>
        </div>
      </a>
    </nav>
  </div>
  <div class="p-4 text-start md:py-7 md:px-5">
    <router-outlet></router-outlet>
  </div>
</div>
