@if (jobAds) {
  <div class="w-full p-4 mx-auto bg-white rounded-lg shadow-md">
  <div class="flex items-center mb-4">
    <img [src]="jobAds.employer.company.logo" alt="Buana" class="w-12 h-12 mr-4 rounded-full" />
    <h2 class="text-lg font-semibold text-elephant-950"> {{ jobAds.title }}</h2>
  </div>
  <div class="mb-4 text-sm">
    <div class="flex space-x-4">
      <div>
        <h3 class="font-medium text-md text-bayoux-700">
          {{ jobAds.employer.company.name }}
        </h3>
      </div>
      <div class="flex flex-1">
        <div class="inline-block h-full min-h-[1em] w-0.5 bg-bayoux-700"></div>
        <p
          class="ml-4 font-semibold underline cursor-pointer text-elephant-950 underline-offset-2 hover:text-bayoux-700">
          View all jobs
        </p>
      </div>
      <div></div>
    </div>

    <div class="flex space-x-2">
      <svg-icon src="../../../../../assets/icons/map-pin-line.svg" svgClass="mt-2 icon-primary-4">
      </svg-icon>
      <p class="mt-2 text-stonewall-400 hover:text-stark-400">
        {{ jobAds.employer.company.location }}
      </p>
    </div>
    <div class="flex mt-2 space-x-2">
      <svg-icon src="../../../../../assets/icons/building-line.svg" svgClass="mt-3 icon-primary-4">
      </svg-icon>
      <p class="mt-2 text-sm text-stonewall-400">
        {{ jobAds.employer.company.industry }}
      </p>
    </div>
    <div class="flex mt-2 space-x-2">
      <svg-icon src="../../../../../assets/icons/money.svg" svgClass="mt-2 icon-primary-4">
      </svg-icon>
      <p class="mt-2 text-sm text-stonewall-400">{{ jobAds.salary | rupiah }}</p>
    </div>
    <span class="inline-flex items-center mt-3 text-xs font-light border border-transparent rounded-lg gap-x-1 text-stark-400"
      >
      {{ jobAds.createdAt | timeAgo }}
    </span>
  </div>
  <div class="flex space-x-2">
    <button class="px-4 py-2 mb-4 text-sm font-semibold text-white rounded-lg bg-elephant-950 border-stark-400">
      Quick apply
    </button>
    <button type="button"
      class="px-4 py-2 mb-4 text-sm font-semibold border border-gray-200 rounded-lg bg-bayoux-200 text-elephant-950 hover:border-elephant-950 hover:text-elephant-950 disabled:opacity-50 disabled:pointer-events-none">
      Saved Jobs
    </button>
  </div>

  <h2 class="mb-2 font-medium text-md text-elephant-950">Responsibilities:</h2>
  <ul class="mb-4 list-disc list-inside">
    <li class="list">
      Develop and enhance features for apps written in ReactJS.
    </li>
    <li class="list">
      Ensure the implementation of responsive and user-friendly UI designs.
    </li>
    <li class="list">
      Manage state effectively and handle data synchronization in offline mode.
    </li>
    <li class="list">
      Collaborate with the team to improve application performance.
    </li>
  </ul>

  <h2 class="mb-2 font-medium text-md text-elephant-950">Qualifications:</h2>
  <ul class="mb-4 list-disc list-inside">
    <li>3+ years of experience in front-end development with ReactJS.</li>
    <li>
      Strong understanding of web technologies: HTML5, CSS3, ES6, TypeScript.
    </li>
    <li>Strong understanding of state management and React hooks.</li>
    <li>Good knowledge of CSS preprocessing (SASS, LESS, Stylus).</li>
    <li>
      Experience with offline storage solutions like local storage or IndexedDB.
    </li>
    <li>Knowledge of service workers and network status detection.</li>
    <li>Familiarity with unit testing and version control systems.</li>
    <li>Well versed with atomic design.</li>
    <li>Ability to write clean, well-documented, and maintainable code.</li>
  </ul>

  <h2 class="mb-2 text-lg font-semibold text-elephant-950">Benefits:</h2>
  <ul class="mb-4 list-disc list-inside">
    <li>BPJS TK</li>
    <li>BPJS Kesehatan</li>
    <li>THR</li>
    <li>Medical Claim</li>
    <li>Maternity Claim</li>
    <li>Meal</li>
  </ul>
</div>

}
