<div class="bg-white shadow-md rounded-lg p-4 w-full mx-auto">
  <div class="flex items-center mb-4">
    <img src="https://via.placeholder.com/50" alt="Buana" class="w-12 h-12 rounded-full mr-4" />
    <h2 class="text-lg font-semibold text-primary1">Front End Developer</h2>
  </div>
  <div class="text-sm mb-4">
    <div class="flex space-x-4 ...">
      <div>
        <h3 class="text-md font-medium text-primary2">
          PT Buana Varia Komputama
        </h3>
      </div>
      <div class="flex flex-1">
        <div class="inline-block h-full min-h-[1em] w-0.5 bg-primary2"></div>
        <p class="text-primary1 underline underline-offset-2 font-semibold ml-4 hover:text-primary2 cursor-pointer">
          View all jobs
        </p>
      </div>
      <div class=""></div>
    </div>

    <div class="flex space-x-2">
      <svg-icon src="../../../../../assets/icons/map-pin-line.svg" svgClass="mt-2 icon-primary-4">
      </svg-icon>
      <p class="mt-2 text-primary3 hover:text-primary4">South Jakarta, Jakarta</p>
    </div>
    <div class="mt-2 flex space-x-2">
      <svg-icon src="../../../../../assets/icons/building-line.svg" svgClass="mt-3 icon-primary-4">
      </svg-icon>
      <p class="mt-2 text-primary3 text-sm">
        Developers/Programmers (Information & Communication Technology)
      </p>
    </div>
    <div class="mt-2 flex space-x-2">
      <svg-icon src="../../../../../assets/icons/money.svg" svgClass="mt-2 icon-primary-4">
      </svg-icon>
      <p class="mt-2 text-primary3 text-sm">Negotiable</p>
    </div>
    <a class="mt-3 inline-flex items-center gap-x-1 text-xs font-light rounded-lg border border-transparent text-primary4"
      href="#">
      2 days ago
    </a>
  </div>
  <div class="flex space-x-2">
    <button class="bg-primary1 border-primary4 text-white px-4 py-2 font-semibold rounded-lg mb-4 text-sm">
      Quick apply
    </button>
    <button type="button"
      class="bg-primary5 px-4 py-2 font-semibold mb-4 text-sm rounded-lg border border-gray-200 text-primary1 hover:border-primary1 hover:text-primary1 disabled:opacity-50 disabled:pointer-events-none">
      Saved Jobs
    </button>
  </div>

  <h2 class="text-md font-medium text-primary1 mb-2">Responsibilities:</h2>
  <ul class="list-disc list-inside mb-4">
    <li class="list">
      Develop and enhance features for apps written in ReactJS.
    </li>
    <li class="list">
      Ensure the implementation of responsive and user-friendly UI designs.
    </li>
    <li class="list">
      Manage state effectively and handle data synchronization in offline mode.
    </li>
    <li class="list">
      Collaborate with the team to improve application performance.
    </li>
  </ul>

  <h2 class="text-md font-medium text-primary1 mb-2">Qualifications:</h2>
  <ul class="list-disc list-inside mb-4">
    <li>3+ years of experience in front-end development with ReactJS.</li>
    <li>
      Strong understanding of web technologies: HTML5, CSS3, ES6, TypeScript.
    </li>
    <li>Strong understanding of state management and React hooks.</li>
    <li>Good knowledge of CSS preprocessing (SASS, LESS, Stylus).</li>
    <li>
      Experience with offline storage solutions like local storage or IndexedDB.
    </li>
    <li>Knowledge of service workers and network status detection.</li>
    <li>Familiarity with unit testing and version control systems.</li>
    <li>Well versed with atomic design.</li>
    <li>Ability to write clean, well-documented, and maintainable code.</li>
  </ul>

  <h2 class="text-lg font-semibold text-primary1 mb-2">Benefits:</h2>
  <ul class="list-disc list-inside mb-4">
    <li>BPJS TK</li>
    <li>BPJS Kesehatan</li>
    <li>THR</li>
    <li>Medical Claim</li>
    <li>Maternity Claim</li>
    <li>Meal</li>
  </ul>
</div>
