<div>
  <app-overlay-image-container [overlayImage]="overlayImage">
    <div class="md:p-5 text-start">
      <h3 class="text-4xl font-bold text-stark-200">Mulyono Putra</h3>
      <div class="flex flex-col space-y-2">
        <div class="flex space-x-1">
          <div>
            <svg-icon src="../../../../../assets/icons/maps.svg" svgClass="mt-1">
            </svg-icon>
          </div>
          <div>
            <p class="text-stark-200">West Java</p>
          </div>
        </div>
        <div class="flex space-x-1">
          <div>
            <svg-icon src="../../../../../assets/icons/mail.svg" svgClass="mt-1">
            </svg-icon>
          </div>
          <div>
            <p class="text-stark-200">mulyonoputra94&#64;gmail.com</p>
          </div>
        </div>
      </div>
      <div class="flex space-x-1 mt-4">
        <div>
          <button type="button"
            class="inline-flex items-center py-2.5 px-6 ms-2 text-sm font-medium text-stark-200 bg-stonewall-400 rounded-lg border border-stark-200 hover:bg-elephant-950 hover:text-stark-200 focus:ring-4 focus:outline-none focus:ring-blue-300">
            Edit
          </button>
        </div>
      </div>
    </div>
  </app-overlay-image-container>
</div>

<div class="mx-auto pt-4 pb-10 px-4 sm:px-6 lg:px-8 md:pt-10 max-w-[55rem]">
  <ng-container>
    <app-section-header-profile (created)="onUpdateSummary('123')" [title]="'Personal Summary'" />
    @for (item of [0]; track $index) {
      <app-card-summary
        [summary]="details"
        (edited)="onEdit('1')">
      </app-card-summary>
    }
  </ng-container>
  <ng-container>
    <app-section-header-profile
      (created)="onCreateExperience()"
      [title]="'Career History'" />
    @for (item of [0,1]; track $index) {
    <app-card-profile
      [title]="'Frontend Developer'"
      [name]="'Sofco Graha'"
      [duration]="'September 2021 - May 2022 (6 Months)'"
      [description]="details"
      [maxHeight]="100"
      (edited)="onEdit('1')" />
    }
  </ng-container>
  <ng-container>
    <app-section-header-profile (created)="onCreateEducation()" [title]="'Education'" />
    @for (item of [0]; track $index) {
    <app-card-profile
      [isEducation]="true"
      [title]="'Bachelor of Bachelor of Computer Information Systems'"
      [name]="'Gunadarma University'"
      [duration]="'2011 - 2016 (4,5 Years)'"
      [additional]="'IPK 3.03/4.00'"
      [maxHeight]="10"
      (edited)="onEdit('1')" />
    }
  </ng-container>
  <ng-container>
    <app-section-header-profile (created)="onUpdateSummary('123')" [title]="'Skills'" />
    <div class="flex flex-col bg-white border shadow-sm rounded-xl">
      <div class="flex justify-between items-center rounded-t-xl py-1 px-4 md:px-5">
        <div></div>
        <div class="flex items-center gap-x-1">
          <div class="hs-tooltip inline-block"> <button type="button" (click)="onEdit('1')"
              class="hs-tooltip-toggle size-8 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-gray-500 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none">
              <svg-icon src="../../../../../assets/icons/edit-box.svg" svgClass=""> </svg-icon> <span
                class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded shadow-sm"
                role="tooltip"> Edit </span>
            </button> </div>
        </div>
      </div>
<div class="p-4 md:p-5"> <div class="flex flex-wrap gap-2">
  @for (item of tags; track $index) {
    <app-badge [skill]="item"></app-badge>
  }
  </div></div>
    </div>
  </ng-container>

</div>
