@if (seeker) {
<div>
  <app-overlay-image-container [overlayImage]="overlayImage">
    @if (user) {
    <div class="md:p-5 text-start">
      <h3 class="text-4xl font-bold text-stark-200"> {{ user.name }}</h3>
      <div class="flex flex-col space-y-2">
        <div class="flex space-x-1">
          <div>
            <svg-icon src="../../../../../assets/icons/maps.svg" svgClass="mt-1" />
          </div>
          <!-- <div>
            <p class="text-stark-200">West Java</p>
          </div> -->
        </div>
        <div class="flex space-x-1">
          <div>
            <svg-icon src="../../../../../assets/icons/mail.svg" svgClass="mt-1" />
          </div>
          <div>
            <p class="text-stark-200">{{ user.email }}</p>
          </div>
        </div>
      </div>
      <div class="flex mt-4 space-x-1">
        <div>
          <button type="button" (click)="viewDetail()"
            class="inline-flex items-center py-2.5 px-6 ms-2 text-sm font-medium text-stark-200 bg-stonewall-400 rounded-lg border border-stark-200 hover:bg-elephant-950 hover:text-stark-200 focus:ring-4 focus:outline-none focus:ring-blue-300">
            Edit
          </button>
        </div>
      </div>
    </div>
    }
  </app-overlay-image-container>
</div>

<div class="mx-auto pt-4 pb-10 px-4 sm:px-6 lg:px-8 md:pt-10 max-w-[55rem]">
  <ng-container>
    <app-section-header-profile (created)="onCreateSummary()" [title]="'Personal Summary'" />
    <app-card-summary [summary]="seeker.summary" (edited)="onUpdateSummary()" />
    <app-dialog [visible]="isVisible" (hide)="onHide()">
      <app-summary-form [data]="updateSummaryDto" />
    </app-dialog>
  </ng-container>

  <ng-container>
    <app-section-header-profile (created)="onCreateExperience()" [title]="'Career History'" />
      @if (seeker.experience.length > 0) {
        @for (item of seeker.experience; track $index) {
          <app-card-profile
            [title]="item.position"
            [name]="item.companyName"
            [duration]="duration(item.startDate, item.endDate)"
            [description]="item.responsibilities"
            [maxHeight]="18"
            (edited)="onUpdateExperience(item.id)" />
            <app-dialog [visible]="isExperienceVisible" (hide)="onHideWorkHistory()">
              <app-work-history-form [data]="updateWorkHistoryDto" />
            </app-dialog>
        }
      } @else {
       <app-empty-state />
      }
  </ng-container>

  <ng-container>
    <app-section-header-profile (created)="onCreateEducation()" [title]="'Education'" />
    @for (item of seeker.education; track $index) {
      <app-card-profile
        [isEducation]="true"
        [title]="item.title"
        [name]="item.institution"
        [duration]="duration(item.startDate, item.endDate)"
        [additional]="item.GPA"
        [maxHeight]="10"
        (edited)="onEdit(item.id)" />
    }
  </ng-container>

  <ng-container>
    <app-section-header-profile (created)="onEdit('123')" [title]="'Skills'" />
    <div class="relative mx-auto overflow-hidden bg-white border shadow-lg rounded-xl">
      <div class="px-6 py-4">
        <div class="flex items-start justify-between">
          <div class="flex flex-wrap gap-2">
            @for (item of seeker.skills; track $index) {
            <app-badge [skill]="item.name" />
            }
          </div>
          <div class="hs-tooltip">
            <button class="flex-shrink-0 ml-2 focus:outline-none hs-tooltip-toggle">
              <svg-icon src="../../../../../assets/icons/edit-box.svg" />
              <span
                class="absolute z-10 invisible inline-block px-2 py-1 text-xs font-medium text-white transition-opacity rounded shadow-sm opacity-0 bg-elephant-900 hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible">Edit</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

}
