<div>
  <h1 class="py-4 text-4xl font-semibold text-elephant-950 dark:text-white">
    Settings
  </h1>
  <app-card-settings
    (edited)="openChangeEmailDialog()"
    [title]="'Email'"
    [value]="email"
    [height]="'min-h-[90px]'"
   />

  <app-card-settings
    (edited)="openChangePasswordDialog()"
    [title]="'Password'"
    [value]="'*********'"
    [height]="'min-h-[90px]'"
  />
  <app-card-settings
    (deleted)="deleteConfirmation()"
    [title]="'Delete Account'"
    [isDeleted]="true"
    [height]="'min-h-[70px]'"
  />
</div>

<p-confirmDialog />
