:host {
    display: block;
}

.border-hover {
    @apply border-transparent border-b-2 hover:border-gray-600 hover:text-gray-800 px-3 py-2;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.blink {
    animation: blink 1s step-start 0s infinite;
}

.active {
  @apply text-stark-400 font-semibold;
}
