<div class="hover-animation mb-4 min-h-[180px] flex flex-col bg-white border shadow-sm rounded-xl">
  <div class="flex justify-between items-center rounded-t-xl py-3 px-4 md:px-5 dark:border-neutral-700">
    <div>
      <h3 class="text-lg font-semibold text-gray-800 dark:text-white">
        {{ title }}
      </h3>
    </div>
    <div class="flex items-center gap-x-1">
      <div class="hs-tooltip inline-block">
        <button type="button" (click)="onClick('1')"
          class="hs-tooltip-toggle size-8 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-gray-500 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none">
          <svg-icon src="../../../../../assets/icons/edit-box.svg" svgClass="">
          </svg-icon>
          <span
            class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded shadow-sm"
            role="tooltip">
            Edit
          </span>
        </button>
      </div>
    </div>
  </div>

  <div class="pb-1 px-5 text-primary2 font-semibold">{{ name }}</div>
  <div class="pb-1 px-5 text-primary2 font-medium">
    {{ duration }}
  </div>
  @if(isEducation){
  <div class="pb-1 px-5 text-primary2 text-sm">
    {{ additional }}
  </div>
  }
  <div class="pb-4 px-5 text-primary2 text-sm mb-2" [innerHTML]="description" [class.collapsed]="isCollapsed"
    [style.height]="isCollapsed ? maxHeight + 'px' : 'auto'"></div>
  @if (isCollapsable && maxHeight >= 20) {
  <button type="button" (click)="isCollapsed = !isCollapsed" class="p-4">
    <div class="flex space-x-2">
      <div class="text-primary1 text-sm font-semibold">
        Read {{ isCollapsed ? "More" : "Less" }}
      </div>
      <div>
        @if (isCollapsed) {
        <svg-icon src="../../../../../assets/icons/arrow-down.svg" svgClass="size-4 blink mt-1 arrow"></svg-icon>
        } @else {
        <svg-icon src="../../../../../assets/icons/arrow-up.svg" svgClass="size-4 blink mt-1 arrow"></svg-icon>
        }
      </div>
    </div>
  </button>

  }
</div>
