<div class="flex flex-col w-full bg-white border border-t-4 shadow-sm border-t-elephant-900 rounded-xl">
  <div class="p-4 md:p-5">
    <h1 class="text-2xl font-semibold text-elephant-950">Edit Skills</h1>
    <p class="mt-2 text-sm text-elephant-700">
      Help employers find you by showcasing all of your skills.
    </p>
  </div>
  <div>
    <app-search-field></app-search-field>
  <div class="p-4 md:p-5">
    <p class="mt-2 text-sm text-elephant-700">
      Added skills
    </p>
  </div>
  </div>
</div>
