<div>
  <app-overlay-image-container [overlayImage]="overlayImage">
    <div class="md:p-2 text-center">
      <h3 class="text-4xl font-bold text-primary4">
        Discover Career Opportunities
      </h3>
      <h4 class="text-2xl font-semibold text-primary5">
        Search for the perfect role and take the next step in your career.
      </h4>
      <div class="mt-4">
        <app-search-field></app-search-field>
      </div>
    </div>
  </app-overlay-image-container>
  <div class="mt-4 grid grid-cols-3 gap-4">
    @for (item of [0,1,2,3,4,5]; track $index) {
    <app-card-job-ads></app-card-job-ads>
    }
  </div>
</div>
