<form class="max-w-md mx-auto">
    <div class="flex">
        <div class="relative w-full">
            <input
                type="search"
                id="location-search"
                class="search-input"
                placeholder="Search for company name"
                [(ngModel)]="query"
                [ngModelOptions]="{ standalone: true }"
                required />
            <button type="button" class="search-btn" (click)="search()">
                <svg-icon
                    src="../../../../../assets/icons/search.svg"
                    svgClass="w-4 h-4 icon-primary-4" />
                <span class="sr-only">Search</span>
            </button>
        </div>
    </div>
</form>
