<div
  class="cursor-pointer group flex flex-col bg-white border shadow-sm rounded-xl hover-animation dark:bg-neutral-900 dark:border-neutral-800"
  (click)="onClick('1')"
>
  <div class="p-4 md:p-5">
    <div class="flex justify-between items-center">
      <div class="flex items-center">
        <img
          class="size-[38px] rounded-full"
          src="https://images.unsplash.com/photo-1486299267070-83823f5448dd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80"
          alt="Image Description"
        />
        <div class="ms-3">
          <h3
            class="group-hover:text-bayoux-700 font-semibold text-elephant-950 dark:group-hover:text-neutral-400 dark:text-neutral-200"
          >
            London, UK
          </h3>
          <p
            class="group-hover:text-bayoux-700 font-medium text-sm text-bayoux-700 dark:group-hover:text-neutral-400 dark:text-neutral-200"
          >
            37 Job Positions
          </p>
        </div>
      </div>
      <div class="ps-3">
        <svg-icon
          src="../../../../../assets/icons/arrow-single-right.svg"
          svgClass="flex-shrink-0 size-5"
        >
        </svg-icon>
      </div>
    </div>
  </div>
</div>
